body {

    margin: 0;
    font-family: 'Oswald', sans-serif;
    padding: 0;
}



/* Introduction Section */




#intro {

    display: flex;
    padding: 5% 5%;
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-para {

    width: 50%;
}

.intro-img img {

    width: 100%;
}

.intro-img {

    width: 50%;
}

.intro-para h1 {

    font-size: 3em;
    font-weight: 300;
    color: #333;
}

.intro-para span {

    color: orangered;
    display: block;
}

.intro-para p {

    font-size: 1.5em;
    font-weight:500;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #444;
    letter-spacing: 1.5px;
}

.intro-para a {

    text-decoration: none;
    background-image: linear-gradient(to right, rgb(13, 165, 165), rgb(207, 37, 223));
    color: white;
    font-weight: 100;
    padding: 3% 5%;
    border-radius: 25px;
    display: inline-block;
    margin-top: 3%;
}



/*About Us Section*/



#about-us {

    display: flex;
    background: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.owner-img {

    width: 50%;
}

.owner-img img {

    width: 60%;
    padding: 5% 20% 0 20%;

}

.about-para {

    width: 50%;
    padding: 2% 5%;
    text-align: justify;
}

.about-para h1 {

    color: #333;
    font-weight: 300;
    font-size: 2.5em;
}

.about-para p {

    color: #555;
    font-weight: 100;
    font-size: 1.9em;
}

.about-para a {

    text-decoration: none;
    display: inline-block;
    background: linear-gradient(to right, #3b5b9b, #5a93d3);
    color: white;
    font-weight: 100;
    padding: 3% 7%;
    border-radius: 20px;
}



/*Featured Items Section*/

#featured {

    padding: 3% 5%;
}

.featured-heading {

    text-align: center;
    font-size: 2.5em;
    background-image: linear-gradient(to right, #642B73, #ff79a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.featured-para {

    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #777;
}

.featured-container {

    display: flex;
    margin: 5% 0 0 0;
}

.featured-item {

    width: 33%;
    padding: 2% 2% 0% 2%;
    border: 1px solid #999;
    border-radius: 10px;
    box-shadow: 8px 8px 20px rgb(201, 193, 193);
    margin: 0 1% 0 1%;

}

.item-img {

    height: 50%;
}

.item-img img {

    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.item-order {

    border-top: 2px solid #777;
}

.item-detail h3,h4 {

    color: rgb(71, 71, 71);
}

.item-order a {

    display: inline-block;
    text-decoration: none;
    background: rgb(253, 81, 51);
    color: white;
    border-radius: 5px;
    padding: 2% 5%; 
    margin-top: 2%;
}

/*Recipe Section*/



.recipe-header {

    text-align: center;
    font-size: 2.5em;
    background-image: linear-gradient(to right, #e7b747, #ff2f36);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.recipe-para {

    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #777;
    
}

.recipe-container {

    display: flex;
    padding: 5%;

}

.recipe-box {

    width: 30%;
    padding: 2%;
    border: 1px solid #999;
    margin-right: 2%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(168, 163, 163);
}

.recipe-box:last-child {

    margin-right: 0 !important;
}

.recipe-img img {

    width: 100%;
    border-radius: 10px;
}

.recipe-text h1 {

    color: #333;
}

.recipe-text p {

    color: #555;
}



/*Followers Section*/


.follower-container {

    display: flex;
    width: 100%;
    padding: 5% 0;
    text-align: center;
    width: 80%;
    margin: auto;
    border: 1px solid #999;
    box-shadow: 8px 8px 20px rgb(167, 157, 157);
    border-radius: 15px;
}

.follower-box {

    width: 34%;
}

.follower-box h2, h3 {

    color: #333;
}

.follower-box a {

    padding: 5px 12px;
    border-radius: 50px;
    color: white;
    background: blueviolet;
    text-decoration: none;
}


/*Community section*/

.commu-header {

    text-align: center;
    font-size: 2.5em;
    background-image: linear-gradient(to right, #00a2cf, #24ff3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10%;
}

.subs-form {

    width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 3% 5%;
    box-shadow: 20px 20px 90px rgb(192, 189, 189);
    border-radius: 10px;
}

.subs-form p {

    text-align: center;
    color: #333;
}


.subs-form a {

    text-decoration: none;
    color: orangered;
}

.subs-form input {

    display: block;
    margin: auto;
    padding: 2% 7%;
    margin-bottom: 4%;
    border: 1px solid #999;
    border-radius: 5px;
}

.subs-submit {

    background: rgb(30, 226, 200);
    font-weight: 700;
    margin-top: 6% !important;
    border: none;
    box-shadow: 3px 3px 10px grey;
    cursor: pointer;
}


/*Footer*/



footer {

    text-align: center;
    margin-top: 10%;
}

footer h3 {
    color:  #222;
    font-size: 1.5em;
    font-weight: 400;

}

footer span {

    color: orangered;
    font-weight: 600;

}

footer h4 {

    color:#333;
    font-weight: 100;
}

footer p {

    font-weight: 100;
    color: #333;
    font-size: 0.75em;
}





@media (max-width:575px) {

    .owner-img img {

        width: 90%;
    }

    .featured-container {

        display: grid;
        grid-template-columns: 1;
        place-items: center;
    }

    .featured-item {

        margin-bottom: 2%;
        width: 60%;
    }

    .item-order a {

        margin-bottom: 3%;
    }

    .recipe-container {

        display: grid;
        grid-template-columns: 1;
        place-items: center;
        text-align: justify;
    }

    .recipe-box {

        margin-bottom: 2%;
        width: 60%;
    }

    .intro-para h1, .about-para h1  {

        font-size: 1.5em;
    }

    .intro-para p, .about-para p {

        font-size: 1em;
    }

    .featured-heading, .recipe-header, .commu-header {

        font-size: 2em;
    }
}



@media (min-width:576px) and (max-width:767px) {


    .owner-img img {

        width: 90%;
    }

    .featured-container {

        display: grid;
        grid-template-columns: 1;
        place-items: center;
    }

    .featured-item {

        margin-bottom: 2%;
        width: 60%;
    }

    .item-order a {

        margin-bottom: 3%;
    }

    .recipe-container {

        display: grid;
        grid-template-columns: 1;
        place-items: center;
        text-align: justify;
    }

    .recipe-box {

        margin-bottom: 2%;
        width: 60%;
    }

    .intro-para h1, .about-para h1  {

        font-size: 1.7em;
    }

    .intro-para p, .about-para p {

        font-size: 1.1em;
    }

    .featured-heading, .recipe-header, .commu-header {

        font-size: 2.2em;
    }

}


@media (min-width:768px) and (max-width:991px) {

    .owner-img img {

        width: 70%;
    }

    .featured-container {

        display: grid;
        grid-template-columns: 1;
        place-items: center;
    }

    .featured-item {

        margin-bottom: 2%;
        width: 60%;
    }

    .item-order a {

        margin-bottom: 3%;
    }

    .recipe-container {

        display: grid;
        grid-template-columns: 1;
        place-items: center;
        text-align: justify;
    }

    .recipe-box {

        margin-bottom: 2%;
        width: 60%;
    }

    .intro-para h1, .about-para h1  {

        font-size: 1.9em;
    }

    .intro-para p, .about-para p {

        font-size: 1.3em;
    }

    .featured-heading, .recipe-header, .commu-header {

        font-size: 2.4em;
    }

}


@media (min-width:992px) and (max-width:1199px) {

    .owner-img img {

        width: 60%;
    }

    .intro-para h1, .about-para h1  {

        font-size: 1.9em;
    }

    .intro-para p, .about-para p {

        font-size: 1.3em;
    }

    .featured-heading, .recipe-header, .commu-header {

        font-size: 2.4em;
    }

}